*{margin: 0px; padding: 0px;}

.ss
{
	background-color: blue; 
	border-radius: 5px; 
	padding: 20px; margin: 20px; 
	width: 150px;
	text-align: center;
	font-size: 30px;	
	cursor: pointer;
}
.form
{
display: flex;	
flex-direction: column;
align-content: center;
align-items: center;
margin-top: 0%;
font-size: 20px;
}

.redcl, .delcl
{
cursor: pointer;
}


.table_blur {
  background: #f5ffff;
  border-collapse: collapse;
  text-align: left;
}
.table_blur th {
  border-top: 1px solid #777777;	
  border-bottom: 1px solid #777777; 
  box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
  background: linear-gradient(#9595b6, #5a567f);
  color: white;
  padding: 5px 10px;
  position: relative;
  
}
.table_blur th:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 25%;
  height: 25%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));
}
.table_blur tr:nth-child(odd) {
  background: #ebf3f9;
}
.table_blur th:first-child {
  border-left: 1px solid #777777;	
  border-bottom:  1px solid #777777;
  box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
  text-align: center;
}
.table_blur th:last-child {
  border-right: 1px solid #777777;
  border-bottom:  1px solid #777777;
  box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur td {
  border: 1px solid #e3eef7;
  padding: 5px 10px;
  position: relative;
  transition: all 0.5s ease;
}
.table_blur tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #a09f9d;
}
.table_blur tbody:hover tr:hover td {
  color: #444444;
  text-shadow: none;
}

.aa{text-decoration: none;color: white; }

.redcl, .delcl, .detcl
{
cursor: pointer;
}
.redcl:hover, .delcl:hover, .detcl:hover
{
color:brown;
}


.tabdet
{
margin-top: 100px;
margin-left: 30%;
}

/*#t tr:first-child
{
text-align: center;
font-weight: bold;
}*/




